name: Deploy webpages into remote server
on:
  push:
    branches:
      - master

jobs:
  build:
    environment:
      name: server
    runs-on: ubuntu-latest
    steps:
      # - name: Checkout
      #  uses: actions/checkout@master
      # perpare git submodule
      #- uses: srt32/git-actions@v0.0.3
      #  with:
      #    args: git submodule update --init --recursive
      # Deploy
      - name: Deploy
        uses: appleboy/ssh-action@master # SSH connecting to remote
        env:
          DEP_PATH: ${{ secrets.DEPLOY_TARGET }}
        with: 
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_TOKEN }}
          envs: DEP_PATH
          script: | # Execute on remote server
            cd $DEP_PATH
            git fetch origin
            git reset --hard origin/master
            git submodule update --init --recursive

